<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyMpas.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1373A2C1DEC8B6D00209B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1373A481DEC8B6D00209B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1373A531DEC8B6D00209B31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
